*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    background-color: #0B0C10;
    color: white;
    text-align: center;
}

::-moz-selection {
    background-color: #66FCF1;
    color: #1F2833;
}

::selection {
    background-color: #66FCF1;
    color: #1F2833;
}

/* -------------------- */
/* --- BANNER --- */
/* -------------------- */

.banner {
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(0,0,0,0.9)), to(rgba(69, 162, 158, 0.9)));
    background: -o-linear-gradient(top left, rgba(0,0,0,0.9), rgba(69, 162, 158, 0.9));
    background: linear-gradient(to bottom right, rgba(0,0,0,0.9), rgba(69, 162, 158, 0.9));
    width: 100%;
    height: 150px;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.welcome-title {
    color: #FFF;
    font-family: "Bookman Old Style";
    font-size: 48px;
}

/* -------------------- */
/* --- NAVBAR --- */
/* -------------------- */

.navbar {
    list-style: none;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.navlink:link, .navlink:visited {
    color: #66FCF1;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navlink::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: rgba(102,242,241,1);
    -webkit-transition: background-color 0.5s, width 0.2s;
    -o-transition: background-color 0.5s, width 0.2s;
    transition: background-color 0.5s, width 0.2s;
}

.navlink:hover, .navlink:active {
    color: #FFF;
}

.navlink:hover::after, .navlink:active::after {
    width: 100%;
    background-color: rgba(255,255,255, 1);
}

.navbar li:not(:first-child) {
    margin-left: 20px;
}

/* -------------------- */
/* --- COMMON COMPONENTS --- */
/* -------------------- */

.home-bg {
    width: 100%;
    min-height: 100vh;
    z-index: -20;
    padding-top: 100px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(assets/tahoe.jpeg);
    background-image: -o-linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(assets/tahoe.jpeg);
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(assets/tahoe.jpeg);
    background-size: cover;
    background-position: center;
}

.content {
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.content-box {
    background-color: #1F2833;
    border: 5px solid #45A29E;
}

.button {
    display: inline-block;
    font-size: 24px;
    padding: 20px;
    min-width: 200px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

a:link, a:visited {
    text-decoration: none;
    color: #45A29E;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover, a:active {
    color: #66FCF1;
    text-decoration: underline;
}

.heading-h2 {
    font-size: 32px;
    margin-bottom: 15px;
}


/* -------------------- */
/* --- HOMEPAGE --- */
/* -------------------- */

.welcome-container {
    margin-top: 100px;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.welcome-text {
    padding: 60px 80px;
    background-color: #1F2833;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 36px;
    color: #FFFFFF;
    opacity: .8;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
            box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
}

.user-btns__container {
    margin-top: 120px;
}

.signup__btn {
    background-color: #66FCF1;
    color: #1F2833;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.signup__btn:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,1);
            box-shadow: 0 10px 20px rgba(0,0,0,1);
    background-color: #45A295;
    color: #FFFFFF;
}

.signup__btn:active, .signup__btn:focus {
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,1);
            box-shadow: 0 5px 10px rgba(0,0,0,1);
}

.login__btn {
    margin-left: 20px;
    background-color: #C5C6C7;
    color: #1F2833;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.login__btn:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,1);
            box-shadow: 0 10px 20px rgba(0,0,0,1);
    background-color: #45A295;
    color: #FFFFFF;
}

.login__btn:active, .login__btn:focus {
    -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,1);
            box-shadow: 0 5px 10px rgba(0,0,0,1);
}

/* -------------------- */
/* --- FORMS --- */
/* -------------------- */

.form {
    width: 100%;
    opacity: .9;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form-row {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.form-row label {
    width: 25%;
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
    text-align: right;
    padding-right: 10px;
}
.form-row input {
    width: 75%;
    height: 30px;
    padding-left: 5px;
}

.form-row select {
    width: 75%;
    height: 30px;
    padding-left: 5px;
}

.form-button {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    display: inline-block; 
    background-color: #45A29E;
    color: #1F2833;
    border-radius: 4px;
    border: 2px solid #1F2833;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.form-button:hover {
    background-color: #66FCF1;
    border: 2px solid #45A29E;
}

.user-form-box {
    min-width: 30%;
    padding-top: 20px;
}

/* -------------------- */
/* --- PARKS INDEX --- */
/* -------------------- */

.parks-box {
    width: 50%;
    padding: 20px;
}

.park-search {
    width: 40%;
    margin-right: 10px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
}

.filter-button {
    height: 30px;
    padding: 5px;
    font-size: 15px;
}

.park-list {
    list-style: none;
    margin-top: 20px;
    text-align: left;
    margin-left: 50px;
    max-height: 100vh;
    overflow-y:auto;
}

.park-list::-webkit-scrollbar {
    width: 10px;
}

.park-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
            box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

.park-list::-webkit-scrollbar-thumb {
    background-color: #45A29E;
    border-radius: 5px;
}

.park {
    font-size: 20px;
}

.park:not(:last-child) {
    margin-bottom: 5px;
}

/* -------------------- */
/* --- PARK SHOW --- */
/* -------------------- */

.park-show-box {
    width: 80%;
    padding: 30px 30px;
}

.park-address {
    list-style: none;
    margin-top: 10px;
    font-size: 14px;
}

.park-description {
    width: 75%;
    margin: 20px auto;
}

.park-image {
    max-width: 50%;
    margin: 40px auto 0;
    font-size: 14px;
}

.park-image img {
    width: 100%;
    height: 100%;
    display: block;
    border: 3px solid #66FCF1;
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
            box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    margin-bottom: 10px;
}

/* -------------------- */
/* --- REVIEWS --- */
/* -------------------- */

.park-reviews {
    margin-top: 60px;
}

.review-card {
    background-color: #45A29E;
    width: 66%;
    margin: 20px auto 0;
    padding: 20px 50px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
            box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    border: 1px solid white;
}

.review-content {
    text-align: left;
    margin: 15px 0;
    font-size: 18px;
}

.review-date {
    font-size: 12px;
}

.review-card > a {
    color: #1F2833;
}

.review-card > a:hover, a:active {
    color: #66FCF1;
}

.review-form-container {
    margin-top: 20px;
}

.review-form-container form {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* -------------------- */
/* --- VISITS --- */
/* -------------------- */

.visits-box {
    padding: 30px;
    width: 50%;
    overflow-y: auto;
}

.visit-box {
    padding: 30px;
    width: 50%;
}

.visit-date:first-child {
    margin-top: 15px;
}

.visit-date:nth-child(2) {
    margin-bottom: 15px;
}

.visit-form-box {
    padding: 30px;
    min-width: 35%;
}

.visit-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}